doctype html
head

	title Tic Tac Toes
	meta(charset='UTF-8')
	style
		include ../src/styles.css

body

	h1 Tic Tac Toes
	#board
	board
	button(type='submit' onClick='emptyBoard()') Restart
	script
		include ../src/play.js